
.CartList {
  display: flex;
  align-items: center;
  display: inline;
  margin: 30px;
}

.CartList .CartItem img {
  width: 200px;
  
  margin: 20px;
}
.CartList .CartItem a{
  display: flex;
  justify-content: left;
  margin-bottom: 20px;

}
.CartList .CartItem input{
  width: 50px;
}