.Logo1{
  font-weight: 600;
  font-size: 18px;
  
  color: #086CA2;
}
.Logo img{
  width: 200px;
  height: 150px;
  filter: saturate(200%);
  border-radius: 20%;
}

.Logo{
  height: 350px;
}

@-webkit-keyframes scroll {
  0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
  }
  100% {
      -webkit-transform: translate(-100%, 0);
      transform: translate(-100%, 0)
  }
}

@-moz-keyframes scroll {
  0% {
      -moz-transform: translate(0, 0);
      transform: translate(0, 0);
  }
  100% {
      -moz-transform: translate(-100%, 0);
      transform: translate(-100%, 0)
  }
}

@keyframes scroll {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(-100%, 0)
  }
}

