.Logo1{
  font-weight: 600;
  font-size: 18px;
  
  color: #086CA2;
}
.Logo img{
  width: 200px;
  height: 150px;
  filter: saturate(200%);
  border-radius: 20%;
}

.Logo{
  height: 350px;
}
* *, *::before, *::after { 
  animation-play-state: running !important;
 }
  