.Logo1{
  font-weight: 600;
  font-size: 18px;
  
  color: #086CA2;
}
.Logo img{
  width: 100px;
  height: 100px;
  filter: saturate(200%);
  border-radius: 20%;
}

.Logo{
  height: 350px;
}

.Logo p {
  font-size: 45px;
  font-weight:bolder;
  cursor: pointer;
  text-shadow: 1px 1px 0 hsl(256, 93%, 54%),
               2px 2px 0 hsl(256, 95%, 63%),
               3px 3px 0 hsl(256, 93%, 73%),
               4px 4px 0 hsl(256, 88%, 61%),
               5px 5px 0 hsl(256, 87%, 70%),
               6px 6px 0 hsl(256, 94%, 69%),
               7px 7px 0 hsl(256, 92%, 75%),
               8px 8px 0 hsl(256, 65%, 92%);
  color: hsl(246, 93%, 49%);
  transition: all 1s;
  }
  .Logo p:hover {
    text-shadow: 1px -1px 0 hsl(226, 90%, 28%),
               2px -2px 0 hsl(253, 93%, 47%),
               3px -3px 0 hsl(280,100%,60%),
               4px -4px 0 hsl(280,100%,60%),
               5px -5px 0 hsl(270,100%,75%),
               6px -6px 0 hsl(270,100%,80%),
               7px -7px 0 hsl(260,100%,85%),
               8px -8px 0 hsl(260,100%,90%);
    color: hsl(300,100%,30%);
    }