.Layout {
  max-width: 789px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.Layout header {
  flex-basis: 100%;
  height: 200px;
  
  
}

.Layout aside {
  flex: 20% 0 0;
}
.Layout main {
  flex: 80% 1 1;
}
.Layout footer {
  flex: 100% 0 0;
}
.Layout .Ornament {
  background-image: url();
  width: 100%;
  background-size: contain;

}