.Layout {
  max-width: 789px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.Layout header {
  padding-top: 15px;
  flex-basis: 100%;
  height: 200px;
  
  
}

.Layout aside {
  flex: 20% 0 0;
}
.Layout main {
  flex: 80% 1 1;

}
.Layout main h1{
  color: #086ca2;
  font-size: 16px;
}
.Layout footer {
  flex: 100% 0 0;
}


