.Layout {
  max-width: 789px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.Layout header {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Layout aside {
  flex: 20% 0 0;
}
.Layout main {
  flex: 80% 1 1;
}
.Layout footer {
  flex: 100% 0 0;
}
.Layout .Ornament {
  background-image: url(https://abrakadabra.fun/uploads/posts/2022-03/1646686478_2-abrakadabra-fun-p-krasivii-ornament-na-prozrachnom-fone-2.png);
  height: 100px;
  width: 100%;
  background-size: contain;
}