.footer {
  box-shadow: 0 0 10px #cd698b;
  padding: 40px 10px;
  background-color: rgb(10, 6, 34);
  color: #ffffff;
  margin-top: 1rem;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  flex-basis: 25%;
  margin-bottom: 40px;
}

.footer-column a {
  text-decoration: none;
  color: #fff;
}

.footer-heading {
  margin-bottom: 20px;
  font-size: 12px;
}

.footer-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-list li {
  margin-bottom: 10px;
  font-size: 14px;
}

.network-icons {
  display: flex;
  justify-content: space-around;
}

.network-icons .bi {
  width: 40px;
  height: 40px;
  color: #fff;
}

.footer-list li:hover {
  cursor: pointer;
  color: #28b3f3;
}

.footer-column a:hover {
  color: #28b3f3;
}

.network-icons .bi:hover {
  cursor: pointer;
  color: #28b3f3;
}

.footer .info {
  display: flex;
  max-width: 500px;
  align-items: center;
  justify-content: space-around;
}

.footer .info strong {
  margin-right: 20px;
}

.footer .info p {
  margin: 0;
  font-size: 14px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .footer-column {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 576px) {
  .footer-column {
    flex-basis: 100%;
  }
}