.CategoryList ul {
  list-style-type: none;
  width: 130px;
  padding: 0;
  margin: 0;


}

.CategoryList a {

  color: #ff8b00;
  padding: 5px;
  text-decoration: none;
  font-weight: 100;
  font-size: 12px;
  display: block;
}

.CategoryList li {
  border: 1px solid #086ca2;
}

.CategoryList{
  padding-top: 100px;
}
