@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url('https://www.beesona.ru/upload/439/02648624faee7b2b303f4da90a4a8302.gif');
  background-repeat: repeat-x;
  
  
}

