.Nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #dddddd;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 20%);
  background: rgba(248, 240, 240, 0.85);
  font-size: 16px;
  font-weight: 200;
 

}

 

.Nav ul li a {
  color: rgb(88, 78, 76);
  padding: 10px;
  display: block;
}
 



    
