

.Nav ul li a {
  color: rgb(88, 78, 76);
  padding: 10px;
  display: block;
}

.Nav {

  background-image: url();
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
 
}
.Nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  
  font-size: 14px;
  font-weight: 150;
}


nav a:hover {
  background-color: rgb(203, 203, 207);
  color: white;
  border-radius: 15px 55px;
}

