.Nav ul li {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 500ms ease;
  font-size: 14px;
  
}

.Nav ul {
  float: right;
  list-style: none;
}

nav ul li:hover {
  opacity: 0.5;
}

.Nav a{
  color: #086CA2;
  font-weight: 900;
  
}

.Nav{
  background-image: url("https://cdn.pixabay.com/photo/2014/11/27/22/44/gift-548290_960_720.jpg");

  min-height: 380px;

  /* Центр и масштаб изображения */
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Необходимые для позиционирования навигации */
  position: relative;
  min-height:100%;
  background-blend-mode: multiply;
}
 
.Nav::after{
  content: 'Original gifts for your loved ones!';
  position: absolute;
  top: 60px;
  left:50px;
  width: 300px;
  font-size: 20px;
  font-weight: 600;
  color:#FF8B00;
}

.Nav::before{
  content: 'The biggest gift is in the smallest box!';
  position: absolute;
  top: 100px;
  left:50px;
  width: 300px;
  font-size: 10px;
  font-weight: 600;
  color:#FFA840;
}


